$green: #00A651;
$green-hover: #009549;
$green-active: #008541;
$red: #E74E36;
$red-hover: #CF4631;
$red-active: #B93E2B;
$blue: #6155BD;
$blue-hover: #574CAA;
$blue-active: #4E4497;
$yellow: #FFC700;
$yellow-hover: #E5B300;
$yellow-active: #CC9F00;

$error-color: #E74E36;
$error-background-color: rgba(231, 78, 54, 0.1);

$warning-color: #FDD835;
$warning-background-color: rgba(253, 216, 53, 0.1);

$info-color: #3E62F0;
$info-background-color: rgba(62, 98, 240, 0.1);

$input-color: #737373;

:root {
    --anser-black-text: rgb(255, 255, 255);
    --anser-yellow-text: rgb(187, 187, 0);
}

@media (prefers-color-scheme: light) {
    :root {
        --anser-black-text: rgb(0, 0, 0);
        --anser-yellow-text: rgb(134, 131, 0);
    }
}

@mixin anser-color($name, $color) {
    .ansi-#{$name}-fg {
        color: $color;
    }

    .ansi-#{$name}-bg {
        background-color: $color;
    }
}

// Most of the defaults for these colors are reasonable, but some aren't readable on a white background.

@include anser-color('black', var(--anser-black-text));
@include anser-color('red', rgb(187, 0, 0));
@include anser-color('green', rgb(0, 187, 0));
@include anser-color('yellow', var(--anser-yellow-text));
@include anser-color('blue', rgb(0, 0, 187));
@include anser-color('magenta', rgb(187, 0, 187));
@include anser-color('cyan', rgb(0, 187, 187));
@include anser-color('white', var(--ipl-body-text-color));

@include anser-color('bright-black', rgb(85, 85, 85));
@include anser-color('bright-red', rgb(255, 85, 85));
@include anser-color('bright-green', rgb(0, 255, 0));
@include anser-color('bright-yellow', rgb(255, 255, 85));
@include anser-color('bright-blue', rgb(85, 85, 255));
@include anser-color('bright-magenta', rgb(255, 85, 255));
@include anser-color('bright-cyan', rgb(85, 255, 255));
@include anser-color('bright-white', var(--ipl-body-text-color));
