.ipl-expansion-panel__content {
    background-color: var(--space-background) !important;
    border: 1px solid var(--space-border);
}

.ipl-expansion-panel__header-background:hover {
    background-color: var(--space-background-secondary) !important;
}

.ipl-space {
    &.color-dark, &.color-light {
        background-color: var(--space-background) !important;
        border: 1px solid var(--space-border);
    }
}

.ipl-button.disabled {
    background-color: var(--disabled-button-bg) !important;
}

.ipl-input__text-input-wrapper {
    &:focus-within {
        border-color: var(--input-color-active) !important;

        label {
            color: var(--input-color-active) !important;
        }
    }

    input {
        color: var(--text-color) !important;
    }
}

.ipl-select__wrapper {
    &:focus-within {
        border-color: var(--input-color-active) !important;

        label {
            color: var(--input-color-active) !important;
        }
    }

    select {
        color: var(--text-color) !important;
    }
}

@media (prefers-color-scheme: light) {
    .ipl-select__wrapper select {
        background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23222222%22%20d%3D%22M207.029%20381.476L12.686%20187.132c-9.373-9.373-9.373-24.569%200-33.941l22.667-22.667c9.357-9.357%2024.522-9.375%2033.901-.04L224%20284.505l154.745-154.021c9.379-9.335%2024.544-9.317%2033.901.04l22.667%2022.667c9.373%209.373%209.373%2024.569%200%2033.941L240.971%20381.476c-9.373%209.372-24.569%209.372-33.942%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") !important;
    }
}
