@import './colors';
@import './badges';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Roboto', sans-serif;
    color: var(--ipl-body-text-color);
    padding: 12px 8px;
    margin: 0;
    background-color: var(--ipl-bg-primary);
    overflow-y: scroll;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--ipl-bg-tertiary) rgba(0, 0, 0, 0);

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--ipl-bg-tertiary);
        border-radius: 3px;
    }
}
