@import './colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    padding: 12px 8px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--background-tertiary) rgba(0, 0, 0, 0);

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--background-tertiary);
        border-radius: 3px;
    }
}
